- name: Check if Helm is already installed
  command: helm version
  register: helm_check
  ignore_errors: yes
  changed_when: false

- name: Install Helm
  shell: |
    curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  when: helm_check.rc != 0

